body{
  background:#000;
  color:#fff;
}
header{
  border-bottom:1px solid #fff;
}
header .header_list{
  width:500px;
  height:60px;
  display:flex;
  justify-content: space-around;
  float:right;
  align-items: center;
}
header .header_list a{
  color:#fff;
}
.contain{
  width:100%;
  /* height:1000px; */
  background:#000;
  margin-top:50px;
  margin-bottom:50px;
}
#card_area{
  width:100%;
  display:flex;
  justify-content:center;
  flex-flow:row nowrap;
}
.card{
  width:220px;
  height:280px;
  display:inline-block;
  position:relative;
  opacity:0.7;
  margin-left:10px;
  margin-right:10px;
}
.front{
  width:220px;
  height:280px;
  box-sizing: border-box;
  transform:rotateY(0deg);
  background:linear-gradient(to bottom right,#232526,#414345);
  text-align:center;
  padding:30px;
}
.back{
  width:220px;
  height:280px;
  box-sizing: border-box;
  background:linear-gradient(to bottom right,#232526,#414345);
  transform:rotateY(180deg);
  padding:40px 15px;
  color:#fff;
}
.front,.back{
  width:100%;
  height:100%;
  position: absolute;
  backface-visibility: hidden;
  transition:transform .3s linear;
  border-radius:5px;
}
.card .front img{
  width:120px;
  border-radius:50%;
  border-radius:5px solid #ffc500;
  display:inline-block;
  margin-bottom:10px;
}
.card .front .title{
  width:100%;
  font-size:18px;
  color:#ffc500;
  display:inline-block;
}
.card .front hr{
  height:0;
  border:1px solid;
  color:#ffc500;
}
.card .front .detail{
  font-size:16px;
}
.card .front .card_content{
  font-size:14px;
}
.card .back .title{
  display:inline-block;
  width:100%;
  background:#ffc500;
  font-size:18px;
  text-align:center;
  color:#000;
  border-radius:5px;
}
.card .back .content{
  width:100%;
  font-size:16px;  
  word-wrap: break-word;
  word-break: break-all;
}
.card .back a{
  width:100%;
  display:inline-block;
  color:#fff;
  background:#7f7777;
  text-align:center;
  border-radius:3px;
  margin-top:5px;
  margin-bottom:5px;
}
.card .back .weixin{
  display:block;
  width:180px;
  margin:15px auto;
}