
/* 网页头部样式 */
#header{
    box-shadow: 0 0 15px #333;
}
header>img {
    border: 0;
    padding-top:12px;
}
header ul>li{
    float:left;
    padding:0;
    margin:0;
    text-align:center;
}
header ul{
    float:right;
    margin-right:24px;
    margin-top:30px;
}

header a{
    
    color:#555;
    font-size:18px;
    line-height:1.1;
    border-right:1px solid #999;
    width:126px;
    display:block;
}
header a.last{
    border-right:0;
}
header a.first{
    width:90px;
}
header a.active {
    color:#4ab71a
}
header a:hover{
    color:#4ab71a
}
/* 
.header{
    width:100%;

}
.header>#erwei{
    background:url("../asets/ad.png") no-repeat -26px 0px;
    width:250px;
    height:41px;
    margin:0;
    left:35%;
    z-index:100;    
}
.header>a>img{
    height:41px;
}
.header .adPic{
    background:#ddd url("../asets/ad.png") no-repeat -796px -33px;
    width:168px;
    left:73px;
    top:41px;

    height:0px;

}
.header>ul{
  
    height:41px;
}
.header>ul>li{
    float:left;
    margin-left:12px;
    font-size:16px;
    margin-top:10px;
}
#mulu,.header>ul>li>a.current{
    color:#8FDAAC;
    cursor: pointer;
}
#mulu>span{
    display: block;  
    margin-top:10px;
    margin-left:10px; 
}
#mulu>ul{
    color:#333;
    background:#aaa;
  
    width:100px;
    overflow: hidden;
}
#mulu>ul>li{
    border-bottom:1px solid #fff;
    text-align: center;
}
#mulu>.show{
    height:133px;
    z-index:10
}
#mulu>.hidden{
    height:0;
    z-index:10
} */