#qiehuan {
  /* color:#333; */
}
.nav{
  background:#46cb6a;
}
.nav_contain{
  width:1000px;
  margin:auto;
  border-right:1px solid #bbb;
}
.logo{
  width:196px;
  height:32px;
  top:24px;
  left:0;
  background-position:0 -122px;
}
/* 两张背景图 */
.bg{
  background-image:url("../asets/person/el_header_sidbar.png");
  background-repeat:no-repeat;
}
.background{
  background-image:url("../asets/person/el_account_home_page.png");
  background-repeat:no-repeat;
}
/* 左侧样式 */
.left_area{
  border-right:1px solid #bbb;
  width:780px;
  height:835px;
}
/* 账号信息 */
.left{
  width:742px;
  height:840px;
  font-size:18px;
  line-height:27px;
  margin-right:10px;
}
.left .message{
  width:717px;
  margin-top:31px;
  height:352px;
}
.left .message h2{
  margin-bottom:20px;
}

.left .message .jibie{
  background-position:-54px 0px;
  display:inline-block;
  width:54px;
}
.left .message .safetyItems .present{
  display:block;
  top:-6px;
  left:62px;
  width:118px;
  height:7px;
  background-position:0 -27px;
}
.left .message .safetyItemsList {
  border:1px solid #bbb;
  margin-top:9px;
}
.left .message .safetyItemsList p{
  padding-left:79px;
  width:608px;
  height:83px;
  font-size:18px;
  line-height:83px;
  margin:0 14px;
}
.left .message .safetyItemsList .icon{
  display:inline-block;
  width:48px;
  height:48px;
}
.title{
  display:inline-block;
  width:125px;
  margin:0 10px;
}
.left .message .safetyItemsList .info{
  color:#8f8f8f;
  width:300px;
  margin-right:50px;
  display:inline-block;
  font-size:16px;
}
.left .message .safetyItemsList .modify{
  margin-left:10px;
  font-size:18px;
  color:#00c535;
}
a:hover{
  text-decoration:underline;
}
.left .message .safetyItemsList .pwdIcon{
  background-position: 0px -34px;
  left:29px;
  top:19px;
}
.left .message .safetyItemsList .telIcon{
  background-position: -97px -34px;
  left:29px;
  top:104px;
}
.left .message .safetyItemsList .mailIcon{
  background-position: -49px -34px;
  left:29px;
  top:185px;
}
.left .message .safetyItemsList .btn_bind{
  display:inline-block;
  width:97px;
  height:34px;
  color:#fff;
  background:#ffa601;
  border-radius:5px;
  line-height:34px;
  font-weight:700;
  font-size:16px;
  text-align:center;
}
.left .message .safetyItemsList .btn_bind:hover{
  text-decoration:none;
  opacity: 0.8;
}
.left .unbind{
  display: inline-block;
width: 219px;
height: 141px;
margin-right: 22px;
padding-left: 127px;
background-color: #fff2de;
font-size: 20px;
line-height: 141px;
color: #1ecc4d;
}
.left .pic{
  background: url(../asets/person/pic_common.png) no-repeat 0 0;
  display: inline-block;
  width: 84px;
  height: 89px;
  top: 31px;
}
.left .sjjb span{
  background-position: 0 -1317px;
  left: 33px;
}
.left .zhss span{
  background-position: -168px -1317px;
  left: 400px;

}
.left .bind_item {
  margin-top: 86px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bolder;
}
.left .bind_item span {
  margin-left: 10px;
  color: #1fb658;
}
.left .modifyWay {
  padding: 20px 0;
  font-size: 18px;
  font-weight: bolder;
}
.left .result_unbind {
  width: 330px;
  min-height: 88px;
  padding-top: 15px;
  padding-left: 125px;
  font-size: 16px;
  color: #8f8f8f;
  line-height: 25px;
}
.left .unbind_mail {
  background-position: 0 -1528px;
}
.left .result_unbind b {
  color: #000;
}

.btn_status_unbind {
  display: block;
  width: 130px;
  height: 34px;
  margin-top: 25px;
  margin-left: 90px;
  background: #ffa601;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-width: 0;
  border-radius: 5px;
}
.left .email_box{
  margin-top:70px;
}
.left .box_prompt {
  padding-top: 100px;
}
.left .box_prompt .id_bind {
  width:749px;
  min-height: 89px;
  margin-bottom: 17px;
  padding-left: 125px;
  font-size: 16px;
  color: #8f8f8f;
  background-position: 0 -554px;
}
.left .box_prompt .id_bind b {
  color: #000;
}
.left .form-list .field {
  margin: 10px 0 20px;
  position: relative;
}
.left .form-list .fh {
  display: inline-block;
  width: 200px;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  text-align: right;
  *vertical-align: middle;
}
.left .form-list .textbox {
  width: 208px;
  height: 25px;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 25px;
  border: 1px solid #c2c2c2;
  background-color: #fff;
  vertical-align: middle;
}
.left .form-list {
  padding-top: 90px;
}
.left .form-list .field a,.left .form-list .field-btn a {
  margin-left: 15px;
  font-size: 14px;
  color: #1fb658;
}
.left  .form-list .btn_personal_info {
  display: inline-block;
  margin-top: 20px;
  margin-left: 205px;
  width: 220px;
  height: 34px;
  border-width: 0;
  background-color: #ffa601;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
}
.left .form-list .reset{
  display: inline-block;
  margin-top: -5px;
  margin-top: -10px;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 14px;
  color: #1fb658;
}
/*旗下游戏*/
.left .usGame {
  margin-top:30px;
} 
.left .usGame h2{
  margin-bottom:20px;
}
.left .usGame li{
  margin-bottom:25px;
  margin-right:25px;
}
.left .usGame img {
  height:164px;
  width:222px;
}
.left .usGame span {
  width:80px;
  height:71px;
}
.left .usGame .myGame {
  background-position:-80px -83px;
  left:0;
  top:0;
}
.left .usGame .recommend{
  left:0;
  top:0;
  background-position:0px -83px;
}
.left .my_form{
  padding-top:50px;
  /* margin-left:150px; */
  padding-left:170px;
}
.left .my_form .cell_form{
  height:42px;
  margin:10px 0 20px;
  line-height:42px;
}
.left .my_form .cell_form input{
  width: 208px;
  height: 25px;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 25px;
  border: 1px solid #c2c2c2;
  background-color: #fff;
}
.left .my_form div:nth-child(2){
  margin-bottom:0px;
}
.left .my_form div:nth-child(3){
  margin-left:90px;
  font-size:14px;
}
.left .my_form .cell_form:nth-child(4){
  margin-left:-36px;
}
.left .my_form button{
  display: block;
  width: 220px;
  height: 34px;
  border-width: 0;
  background-color: #ffa601;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  margin-left:90px;
  cursor: pointer;
}
.left .my_red{
  color:#f00;
}
.warm-tip {
  width: 714px;
  margin-top: 50px;
  border-top: 1px dashed #dbdbdb;
}
.warm-tip h3 {
  padding: 20px 0;
  font-size: 18px;
  color: #0f0f0f;
}
.warm-tip ul {
  line-height: 20px;
}
.warm-tip li {
  font-size: 14px;
  color: #8f8f8f;
}
/* 右侧样式 */
.right{
  width:218px;
}
.right .anquan{
  margin-top:30px;
}
.right dt{
  height:40px;
  line-height:40px;
  font-size:18px;
  background:#ddd;
  text-align:left;
  padding-left:17px;
}
.right  dd {
  height:50px;
}
.right dd a{
  height:50px;
  width:210px;
  line-height:50px;
  font-size:14px;
  display:block;
  margin:auto;
  border-bottom:1px dotted #000;
}
.right dd .icon{
  display:inline-block;
  width:23px;
  height:23px;
  top:14px;
  left:40px;
}
.right dd a span+span{
  margin-left:75px;
}
.right dd .bindTel{
  background-position:2px -37px;
}
.right dd .bindMail{
  background-position:-23px -37px;
}
.right dd .manPwd{
  background-position:-46px -37px;
}
.right dd .manChenmi{
  background-position:-69px -37px;
}
.right dd .manPerson{
  background-position:-92px -37px;
}