#qiehuan {
  color:#333;
}
.nav{
  background:#46cb6a;
}
.nav_contain{
  width:1000px;
  margin:auto;
  border-right:1px solid #bbb;
}
.logo{
  width:196px;
  height:32px;
  top:24px;
  left:0;
  background-position:0 -122px;
}
/* 两张背景图 */
.bg{
  background-image:url("../asets/person/el_header_sidbar.png");
  background-repeat:no-repeat;
}
.background{
  background-image:url("../asets/person/el_account_home_page.png");
  background-repeat:no-repeat;
}
/* 左侧样式 */
.left_area{
  border-right:1px solid #bbb;
  width:780px;
  height:835px;
}
/* 账号信息 */
.left{
  width:742px;
  height:840px;
  font-size:18px;
  line-height:27px;
  margin-right:10px;
}
.left .message{
  width:717px;
  margin-top:31px;
  height:352px;
}
.left .message h2{
  margin-bottom:20px;
}

.left .message .jibie{
  background-position:-54px 0px;
  display:inline-block;
  width:54px;
}
.left .message .safetyItems .present{
  display:block;
  top:-6px;
  left:62px;
  width:118px;
  height:7px;
  background-position:0 -27px;
}
.left .message .safetyItemsList {
  border:1px solid #bbb;
  margin-top:9px;
}
.left .message .safetyItemsList p{
  padding-left:79px;
  width:608px;
  height:83px;
  font-size:18px;
  line-height:83px;
  margin:0 14px;
}
.left .message .safetyItemsList .icon{
  display:inline-block;
  width:48px;
  height:48px;
}
.title{
  display:inline-block;
  width:125px;
  margin:0 10px;
}
.left .message .safetyItemsList .info{
  color:#8f8f8f;
  width:300px;
  margin-right:50px;
  display:inline-block;
  font-size:16px;
}
.left .message .safetyItemsList .modify{
  margin-left:10px;
  font-size:18px;
  color:#00c535;
}
a:hover{
  text-decoration:underline;
}
.left .message .safetyItemsList .pwdIcon{
  background-position: 0px -34px;
  left:29px;
  top:19px;
}
.left .message .safetyItemsList .telIcon{
  background-position: -97px -34px;
  left:29px;
  top:104px;
}
.left .message .safetyItemsList .mailIcon{
  background-position: -49px -34px;
  left:29px;
  top:185px;
}
.left .message .safetyItemsList .btn_bind{
  display:inline-block;
  width:97px;
  height:34px;
  color:#fff;
  background:#ffa601;
  border-radius:5px;
  line-height:34px;
  font-weight:700;
  font-size:16px;
  text-align:center;
}
.left .message .safetyItemsList .btn_bind:hover{
  text-decoration:none;
  opacity: 0.8;
}
/*旗下游戏*/
.left .usGame {
  margin-top:30px;
} 
.left .usGame h2{
  margin-bottom:20px;
}
.left .usGame li{
  margin-bottom:25px;
  margin-right:25px;
}
.left .usGame img {
  height:164px;
  width:222px;
}
.left .usGame span {
  width:80px;
  height:71px;
}
.left .usGame .myGame {
  background-position:-80px -83px;
  left:0;
  top:0;
}
.left .usGame .recommend{
  left:0;
  top:0;
  background-position:0px -83px;
}
/* 右侧样式 */
.right{
  width:218px;
}
.right .anquan{
  margin-top:30px;
}
.right dt{
  height:40px;
  line-height:40px;
  font-size:18px;
  background:#ddd;
  text-align:left;
  padding-left:17px;
}
.right  dd {
  height:50px;
}
.right dd a{
  height:50px;
  width:210px;
  line-height:50px;
  font-size:14px;
  display:block;
  margin:auto;
  border-bottom:1px dotted #000;
}
.right dd .icon{
  display:inline-block;
  width:23px;
  height:23px;
  top:14px;
  left:40px;
}
.right dd a span+span{
  margin-left:75px;
}
.right dd .bindTel{
  background-position:2px -37px;
}
.right dd .bindMail{
  background-position:-23px -37px;
}
.right dd .manPwd{
  background-position:-46px -37px;
}
.right dd .manChenmi{
  background-position:-69px -37px;
}
.right dd .manPerson{
  background-position:-92px -37px;
}