#line{
    height:10px;
    width:100%;
    background-position:0 -130px;
}
/* 导航条样式 */
.nav{
    height:76px;
    background:#2A87D7;
    /* border-bottom:3px solid #2A87D7; */
}
.navbg{
    background-image:url(../asets/header.png);
    background-repeat:repeat-x;
    display:block; 
    color:#fff;
}
.nav .title{
    margin-top:29px;
    height:31px;
    width:200px;
}

/* .nav .right .items ul a{
    margin-right:5px;
    height:30px;
    width:86px;
    border:1px solid #CECECE;
    border-bottom:0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
} */
/* .nav .items{
    margin-top:-23px;
}
.nav .service{
    background-position-x:-6px;
    background-position-y:-97px;
}
.nav .chongzhi{
    background-position-x:-3px;
    background-position-y:-33px;
}
.nav .zhanghao{
    background-position-x:-107px;
    background-position-y:-33px;
} */
/* 客服专区入口 */
.rukou{
    margin:auto;
    padding:30px 0px;
}
.rukou .bg{
    background-image:url("../asets/index-game.jpg");
}
.rukou span{
    width:550px;
    height:321px;
    background-repeat:no-repeat;
    background-position-y:-10px;    
    background-size:1108px;
}
.rukou .bg:hover{
    background-image:url("../asets/index-game-hover.jpg");
    
}
.rukou .left{
    display: block;
}

.rukou .right{
    display:block;
    background-position-x:-560px;
}

/* 分割线 */
.split{
    background: url("../asets/game-bg.jpg") 0px -333px;
    width:1200px;
    height:13px;
}
/* 底部功能按钮部分 */
.btnList{
    margin-top:33px;
    height:165px;
    width:1200px;
    box-sizing: border-box;
    border:1px solid #bbb;
    padding:14px 0px;
    margin-bottom:10px;
}
.btnList li{
    display:block;
    height:140px;
    width:239px;
    box-sizing:border-box;
    border-right:2px dashed #aaa;
    padding:13px 35px;
    font-size:15px;
}
.btnList .bg{
    display:block;
    width:50px;
    height:50px;
    background-image: url("../asets/ico-service.png");
    background-repeat:no-repeat;
    margin-right:16px;
}
.btnList .one{
    background-position-y:-490px;
}
.btnList .two{
    background-position-y:-420px;
}
.btnList .three{
    background-position-y:-1750px;
}
.btnList .four{
    background-position-y:-210px;
}
.btnList .five{
    background-position-y:-1960px;
}
.btnList p{
    margin-top:50px;
}
.btnList a:hover{
    text-decoration:underline;
}
.btnList li:last-child{
    border:0;
}
/* 热线电话 */
.hotline{
    position:fixed;
    right:0;
    top:30%;
}